<RadzenCard Variant="Variant.Filled" Style="margin-block:5px;">
    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-p-4">
        <RadzenText TextStyle="TextStyle.Subtitle1"><b onclick="@NavigateToUser" onmouseover="" style="cursor: pointer;">@Data.User.Name</b></RadzenText>
        <RadzenText TextStyle="TextStyle.Caption"><div class="rz-text-wrap">@Data.Text</div></RadzenText>
        @if (Data.ImageUrl != null)
        {
            <RadzenImage Path="@Data.ImageUrl" Style=@Style/>
        }
    
    @if (IsFeed)
    {
        <b onclick="@NavigateToPost" onmouseover="" style="cursor: pointer;"><RadzenIcon Icon="comment" Style="float: right;"/></b>
    }
    <div style="font-size: smaller; margin-top: 15px;"><i>Sentiment Analysis: </i><RadzenIcon Icon="@SentimentIcon"></RadzenIcon><i> Score: </i><i>@Data.SentimentValue</i></div>
    </RadzenStack>
</RadzenCard>
